header {
  border: 10px solid black;
  margin-bottom: 8px;
}

.header__container {
  display: flex;
  background-color: #34495e;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__item {
  height: 10px;
  width: 25%;
  background-color: #ff5733;
  padding: 10px;
  margin: 20px;
}

.header__item1 {
  height: 10px;
  width: 50%;
  background-color: #ff5733;
  padding: 10px;
  margin: 20px;
}

.header__title {
  display: flex;
  background-color: #e67e22;
  height: 50px;
  width: 100%;
  border-top: 5px solid black;
  align-items: center;
}

.header__content {
  height: 10px;
  width: 100%;
  background-color: #ffc300;
  padding: 10px;
  margin: 20px;
}

main {
  border: 10px solid black;
  display: flex;
}

.first__container {
  display: flex;
  background-color: #34495e;
  height: 600px;
  width: 66%;
  flex-wrap: wrap; /*así consigo que se hagan las columnas sin liarla con lo de abajo*/
  justify-content: center;
  align-content: flex-start; /*con esto consigo que quede todo arriba*/
}

.first__container--item {
  height: 20px;
  width: 45%;
  background-color: #2980b9;
  padding: 10px;
  margin: 10px;
}

.first__container--item1 {
  height: 20px;
  width: 100%;
  background-color: #85c1e9;
  padding: 10px;
  margin: 10px;
}

.second__container {
  display: flex;
  background-color: #e74c3c;
  height: 600px;
  width: 34%;
  border-left: 5px solid black;
  flex-direction: column;
  justify-content: baseline;
}

.second__container--item {
  width: 90%;
  background-color: #f7dc6f;
  padding: 10px;
  margin: 10px;
}

footer {
  border: 10px solid black;
  height: 50px;
  margin-top: 8px;
  background-color: #f5b041;
}