.header__container {
  display: flex;
  background-color: #212f3c;
  padding: 0;
  justify-content: space-between;
  align-items: center;
 
}

.header__item {
  height: 25px;
  width: 25%;
  background-color: #ff5733;
  padding: 10px;
  margin: 10px;
}

.header__item1 {
  height: 25px;
  width: 50%;
  background-color: #ff5733;
  padding: 10px;
  margin: 10px;
}

.header__title {
  background-color: #ff5733;
  border-top: 5px solid black;
  display: flex;
  justify-content: center;
}

.header__content {
  height: 20px;
  width: 100%;
  background-color: #ffc300;
  padding: 10px;
  margin: 10px;
}




/*.header__container {
  background-color: #212f3c;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header__item {
  font-size: 20px;
  color: #ff5733;
  padding: 10px;
}

.header__title {
  background-color: #ff5733;
  padding: 10px;
  justify-content: center;
  border-top: 5px solid black;
  display: flex;
}

.header__content {
  color: #ffc300;
  justify-content: center;
} */

/*.first__container {
display: flex; 
background-color: #5d6d7e;
color: #5dade2;
}


.second__container {
  display: flex;
  background-color: #e74c3c;
  color: #f7dc6f;
  border-left: solid 5px black;
  flex-direction: column;
  
}

.second__container--text1 {
  margin: 10px;
}

.second__container--text2 {
  margin: 10px;
} */




